---
import { AdjacentPostNav } from '@/components/AdjacentPostNav';
import { Giscus } from '@/components/Giscus';
import { SideMenu } from '@/components/SideMenu';
import { ThemeDropdown } from '@/components/Theme/ThemeDropdown';
import { Toc } from '@/components/Toc';
import type { CollectionData } from '@/service/mdx';

interface Props {
  post: CollectionData;
  next?: CollectionData;
  prev?: CollectionData;
}

const {
  post: {
    data: { title, description, image, date, icon }
  },
  prev,
  next
} = Astro.props;

const { post } = Astro.props;
---

<!-- 배경 섹션 -->
<div class="relative h-full shadow-md">
  <div class="h-[66vh] rounded-b-lg bg-cover bg-fixed bg-center" style=`background-image: url(${image});`>
    <!-- 카드 섹션 -->
  </div>
  <div class="absolute top-0 h-dvh w-full overflow-y-scroll bg-fixed pt-96 shadow-md dark:shadow-black md:pt-[400px]">
    <div class="absolute w-full rounded-lg bg-white p-2 pt-16 transition-colors duration-200 dark:bg-dark-bg">
      {
        icon && (
          <div class="absolute -top-10 left-1/2 flex h-20 w-20 -translate-x-1/2 transform items-center justify-center rounded-full bg-zinc-100 text-5xl shadow-md">
            {icon}
          </div>
        )
      }

      <SideMenu className="top-64">
        <div class="my-5">
          <ThemeDropdown client:load />
        </div>

        <Toc client:load post={post} />
      </SideMenu>

      <div class="flex flex-col items-center text-center">
        <h1 class="mb-4 text-2xl font-bold">{title}</h1>
        <p>{description}</p>
        <p class="mb-6 text-sm text-gray-500">{date}</p>
        <hr class="my-10 w-full border-b-[0.01rem] border-gray-500" />
      </div>
      <slot />

      <div class="my-10">
        <AdjacentPostNav next={next} prev={prev} />
      </div>

      <Giscus client:load />
    </div>
  </div>
</div>
