---
import { AdjacentPostNav } from '@/components/AdjacentPostNav';
import { Giscus } from '@/components/Giscus';
import type { CollectionData } from '@/service/mdx';

interface Props {
  post: CollectionData;
  next?: CollectionData;
  prev?: CollectionData;
}

const { title, description, img, date, icon } = Astro.props.post.data;

const { prev, next } = Astro.props;
---

<!-- 배경 섹션 -->
<div class="relative h-full md:shadow-md">
  <div class="h-[66vh] rounded-b-lg bg-cover bg-fixed bg-center" style=`background-image: url(${img});`>
    <!-- 카드 섹션 -->
  </div>
  <div class="absolute top-0 h-dvh w-full overflow-scroll bg-fixed pt-96 md:pt-[400px] md:shadow-md">
    <div class="absolute w-full rounded-lg bg-white p-2 pt-16 shadow-lg">
      {
        icon && (
          <div class="absolute -top-10 left-1/2 flex h-20 w-20 -translate-x-1/2 transform items-center justify-center rounded-full bg-zinc-100 text-5xl shadow-md">
            {icon}
          </div>
        )
      }
      <div class="flex flex-col items-center text-center">
        <h1 class="mb-4 text-2xl font-bold">{title}</h1>
        <p>{description}</p>
        <p class="mb-6 text-sm text-gray-500">{date}</p>
        <hr class="my-10 w-full border-b-[0.01rem] border-gray-500" />
      </div>
      <slot />

      <AdjacentPostNav className="my-5" next={next} prev={prev} />

      <Giscus client:load />
    </div>
  </div>
</div>
